footer{
    background-color: var(--cor-branco);
    color: var(--cor-verde);
    font-family: 'montserrat';
    font-weight: 600;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
}